@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #222;
  --border-color: #000;
  --neobrutal-base-color: #2b3467;
  --neobrutal-accent-color-one: #eb455f;
  --neobrutal-accent-color-two: #bad7e9;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
}

.navbar {
  width: 150px;
  height: 100%;
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  border: 4px solid var(--border-color);
  border-radius: 5px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-brand a {
  font-size: 24px;
  color: var(--secondary-color);
  text-decoration: none;
  margin-right: 10px;
}

.navbar-toggler {
  display: none;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
}

.navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin-bottom: 10px;
}

.navbar-menu a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px dashed #2b3467;
}

.neobrutal-title {
  display: inline-block;
  position: relative;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: var(--neobrutal-text-color);
  text-decoration: none;
}

.neobrutal-title::before {
  content: "";
  position: absolute;
  top: -0.25em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 0.5em);
  border-top: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  z-index: -1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  opacity: 0;
  transform: scale(0.9);
}

.neobrutal-title:hover::before {
  opacity: 1;
  transform: scale(1);
  border-color: var(--neobrutal-base-color);
}

.hamburger {
  display: none;
}

.close {
  display: none;
}

@media screen and (min-width: 1080px) {
  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: center;
    min-height: 35px;
    max-height: 40px;
    width: 95%;
    padding: 0.5em 1.5em;
    justify-self: center;
    align-self: center;
    border-top: none;
  }
  .navbar-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border: 3px solid #000;
    display: none;
  }

  .navbar-menu li {
    border-bottom: 1px dashed black;
  }

  .navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .hamburger {
    display: block;
  }

  .close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }
}
